/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.container {
  margin: 0 auto;
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);

  @media(width < 768px) {
    margin: 0 0;
    inline-size: 100%;
  }
}

.page {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  /* min-block-size: 100dvb; */
  font-variation-settings: "wght" var(--main-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  min-block-size: 368px;
}

.header__title {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__button {
  border: 0;
  background-color: transparent;
  position: relative;
  background-image: linear-gradient(var(--active-color), var(--active-color));
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  padding-block-end: 2px;
  text-transform: uppercase;
}

.theme-menu__button:hover {
  animation: theme-menu__button-hover 0.3s ease forwards;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  color: var(--active-color);
  background-size: 100% 2px;
}

.theme-menu__button:focus-visible .theme-menu__button::after {
  background-position: 100% 100%;
}

.theme-menu__button:disabled {
  position: relative;
  color: var(--active-color);
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  font-size: 14px;
  animation: theme-menu__item-active 0.5s alternate infinite ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-block-end: 50px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--bg-color);
}

.card__title {
  padding: 5px 10px;
  line-height: 18px;
  font-variation-settings: "wght" var(--accent-font-weight);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__like {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.main-body {
  fill: var(--bg-color);
  transition: fill 0.3s;
  transition-delay: 0s;
}

.core {
  fill: var(--bg-color);
  transition: fill 0.3s;
  transition-delay: 0.03s;
}

.sparks {
  fill: transparent;
  transition: fill 0.3s;
}

.contour {
  fill: var(--text-color);
  transition: fill 0.3s;
}

.heart {
  transition: scale 0.3s;
}

.like-icon {
  transform-origin: center;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition-delay: 0.06s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.card__icon-button {
  border: 0;
  background-color: var(--bg-color);
  transition: outline 0.3s ease;
  min-block-size: 38px;
}

.button__text {
  color: var(--btn-text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.button {
  position: relative;
  border: 2px solid var(--text-color);
  vertical-align: center;
  text-align: center;
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--text-color), var(--text-color));
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 0% 100%;
  transition: 0.5s ease-in-out;
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
}

.button:hover {
  background-size: 100% 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.button:hover .button-text {
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
}

.save__button {
  gap: 8px;
  padding: 15px 18px;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
}

.save__button-text {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#img-floppy {
  /* width: 21px;
  height: 21px; */
}

#dialog-save {
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  padding: 30px;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--bg-color);
}

#dialog-save::backdrop {
  background-color: #000000;
  opacity: 75%;
}

#dialog-save p {
  font-size: 14px;
  line-height: 21px;
}

.dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog__button {
  inline-size: 100%;
  min-block-size: 38px;
}

.card__image-container {
  position: relative;
}

.card__image-text {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  text-shadow: -0.5px 0 var(--bg-color), 0 0.5px var(--bg-color),
    0.5px 0 var(--bg-color), 0 -0.5px var(--bg-color);
  opacity: 50%;
}

@supports (
  (text-stroke: 0.5px var(--bg-color)) or
    (-webkit-text-stroke: 0.5px var(--bg-color))
) {
  .card__image-text {
    -webkit-text-stroke: 0.5px var(--bg-color);
    text-stroke: 5px var(--bg-color);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
}

.filter-blur {
  filter: blur(5px);
}

.filter-mix {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.filter-ivert {
  filter: invert(75%);
}

.filter-brightless {
  filter: brightness(0.4);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-hue {
  filter: hue-rotate(90deg);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-sepia {
  filter: sepia(60%);
}