/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-image: url('../images/background_theme_light.svg');
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --active-color: rgb(0, 0, 0, .6);
}